html {
  font-family: Roboto;
}

/*header */
.wrap {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272e3a;
  color: white;
  height: 10%;
}
/*Login */

.wrap .search-input {
  width: 50%;

  margin-left: 20%;

  /* When the input field gets focus, change its width to 100% */
}

.wrap .search-input input[type="text"] {
  width: 130px;
  height: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.wrap .search-input input[type="text"]:focus {
  width: 50%;
}

.wrap img {
  margin-left: 2%;
  width: 100px;
  height: 100px;
}

.wrap .login {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.wrap .login input[type="text"] {
  width: 13em;
  height: 1.2em;
  margin-top: 0.3em;
}

.wrap .login .login-section {
  margin-top: 0.3em;
  display: flex;
  justify-content: space-between;
}

.wrap .login img {
  width: 2em;
  height: 2em;
}
.wrap .login img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px grey;
}

.wrap .login .button-login {
  padding: 0.5em 1em 0.5em 1em;
}

/*body */


.forum-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-top: 1em;
}

.subforumicon {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1%;
}

/*forum */
.tab ul {
  display: column;
}

/*Collapsible is the wrapper class of the forum collapse*/
.Collapsible {
  margin-top: 10px;
  width: 80%;
}
.Collapsible__trigger {
  display: block;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: grey;
  color:grey;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  transition-delay: 0s;
}

.Collapsible__trigger:hover {
  cursor: pointer;
  background-color: #ef7334;
}
.Collapsible__trigger a{
  text-decoration: none;
  color: white;
}
.Collapsible__trigger a:hover{
  color: grey;
  text-decoration: underline;
}



.forum-link {
  margin-left: 30px;
}

/*subforum */
.subforum {
  height: auto;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.subforum a {
  color: #ef7334;
}

.subforum a:hover {
  color: grey;
  text-decoration: none;
}

.subforum .subforum_info {
  width: 60%;
}

.subforum .first_unread_post {
  width: 20%;
}

.subforum .subforum_info,
.subforum .first_unread_post,
.subforum .no_thread_post {
  border: solid 1px grey;
  padding: 1em;
}
/*navigator */
.navigator {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
  background-color: #eaeaea;
}

.navigator a {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: underline;
}

/*Intro */
.intro {
  width: 80%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 5%;
  background-color: #eaeaea;
}

/*tools */
.tools {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  align-items: center;
  width: 80%;
}

.tools .new_thread {
  background-color: #eaeaea;
  padding: 10px;
}

.tools .no_pages {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.tools .no_pages a {
  padding: 10px 15px 10px 15px;
  background-color: #eaeaea;
  color: #ef7334;
}

/*subforum bar */
.subforum_bar {
  display: flex;
  width: 80%;
  margin-left: 50px;
  margin-top: 50px;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.subforum_bar .search_bar {
  display: flex;
  justify-content: flex-end;
  width: 85%;
}
.subforum_bar .subforum_name {
  padding-left: 50px;
  font-weight: bold;
  font-size: 18px;
}
/*thread table */
.thread_container {
  background: #eaeaea;
  width: 80%;
  margin-left: 50px;
  display: flex;
  align-items: center;
  height: 50px;
}
.thread_container .thread_info {
  display: column;
  width: 70%;
}
.thread_container .thread_info .thread_name {
  font-size: 18px;
  font-weight: bold;
}
.thread_container .lasted_post {
  display: columns;
  width: 20%;
  padding-left: 10px;
}
.thread_container .no_rep_view {
  display: columns;
  width: 10%;
  text-align: right;
  padding-right: 5px;
}

.thread_info,
.lasted_post,
.no_rep_view {
  border: solid 1px;
  border-color: grey;
  height: 50px;
}

/*Thread page */
.thread_header {
  display: flex;
  margin-left: 2em;
}
.thread_header img {
  width: 6em;
  height: 6em;
}
.thread_header .user_avatar {
  padding: 1em;
  border: solid 1px;
}
.thread_header .thread_header_info {
  padding: 1em;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
.thread_header .thread_header_info .thread_name {
  font-size: 1.5em;
  font-weight: bold;
}

.thread_bar {
  display: flex;
  margin: 2em;
  width: 80%;
  height: 4em;
  justify-content: center;
  align-items: center;
}
.thread_bar .rep {
  height: 3em;
  background-color: #eaeaea;
}
.thread_bar .search_bar {
  width: 70%;
  text-align: right;
}
.thread_bar .search_bar input[type="text"] {
  height: 3em;
}
.thread_bar .search_no {
  margin-left: 5em;
  width: 20%;
}

.thread_content {
  padding: 1em;
  margin: 2em 2em 0 2em;
  width: 80%;
  height: auto;
  background-color: #eaeaee;
  box-shadow: 0px 5px 5px grey;
}

.rep_quickrep_tool {
  display: flex;
  width: 80%;
  margin: 0.5em 0 0 2em;
  background-color: #cecece;
  align-items: center;
  box-shadow: 0px 2px 2px grey;
}
.rep_quickrep_tool .no_thank {
  color: #ef7334;
  width: 70%;
  padding-left: 2em;
}
.rep_quickrep_tool button {
  height: 3em;
  width: 10em;
  margin-left: 1em;
  border: none;
  box-shadow: 3px 3px 2px grey;
}
.rep_quickrep_tool button:hover {
  color: #ef7334;
}

.post_reply {
  margin: 2em 0 0 2em;
  width: 80%;
}
.post_reply .user_post_rep {
  display: flex;
}
.post_reply .user_post_rep .post_user {
  text-align: center;
  width: 15%;
  padding: 1em;
}
.post_reply .user_post_rep .post_info {
  width: 85%;
  padding: 1em;
}
.post_reply .user_post_rep .post_user,
.post_reply .user_post_rep .post_info {
  border: solid 1px;
  background-color: #eaeaea;
}

.post_content {
  display: flex;
}
.post_content .post_user_content {
  width: 15%;
  text-align: center;
}
.post_content .post_user_content img {
  margin: 2em;
  width: 8em;
  height: 8em;
}
.post_content .post_rep_content {
  width: 85%;
}
.post_content .post_user_content,
.post_content .post_rep_content {
  border: solid 1px;
}

/*# sourceMappingURL=app.css.map */
