.forum_view {
  display: flex;
  flex-direction: column;
  margin: 5em;
  padding: 5em;
  background-color: white;
  box-shadow: 0.2em 0.2em 0.5em rgb(163, 163, 163);
}

.title {
  color: #272e3a;
  display: flex;
  align-items: flex-end;
}
.title .topic {
  width: 70%;
  font-size: 1.8em;
  text-decoration: underline;
}
.title .rep {
  width: 15%;
  padding-right: 5%;
  text-align: right;
}
.title .view {
  width: 15%;
  text-align: right;
}

.MiniThreadView {
  display: flex;
  align-items: flex-end;
  padding: 0.5em;
}
.MiniThreadView:hover {
  background-color: #dddddd;
}
.MiniThreadView .Date {
  font-weight: bold;
  width: 5%;
  color: #ef7334;
}
.MiniThreadView .MiniThreadView_name {
  color: #ef7334;
  width: 65%;
  font-size: 18px;
}
.MiniThreadView a {
  color: #ef7334;
}
.MiniThreadView a:hover {
  text-decoration: none;
}
.MiniThreadView a:link,
.MiniThreadView a visited {
  text-decoration: none;
}
.MiniThreadView .MiniThreadView_rep {
  width: 15%;

  text-align: right;
}
.MiniThreadView .subforum_view {
  width: 15%;
  text-align: center;
}

.more a {
  color: #ef7334;
  font-size: 18px;
  font-weight: 300;
}
